<%= render 'layouts/notice', object: @groups %>

<h2 class="text-center">グループ一覧</h2>
<div class="d-flex justify-content-center mb-3">
  <%= link_to "グループ作成", new_group_path, class: "btn btn-sm btn-outline-primary" %>
</div>

<%= render 'index', groups: @groups %>
