<%= render 'layouts/notice', object: @groups %>

<div class="text-center">
  <h2>グループ一覧</h2>
  <%= link_to "グループ作成", new_group_path, class: "btn btn-sm btn-outline-primary mb-3" %>
</div>

<%= render 'index', groups: @groups %>
