<div class="text-center">
  <h2><%= link_to @group.name, admin_group_path(@group) %></h2>
  <h2>投稿一覧</h2>
</div>

<%= render 'index', group_posts: @group_posts %>

<div class="container pb-3">
  <div id="map"></div>
</div>

<%= paginate @group_posts, theme: 'twitter-bootstrap-4' %>

<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>