<h1 class="text-center mb-5">ヨルポスについて</h1>

<p class="text-center">
  ヨルポスは街の夜の写真や雰囲気を投稿や鑑賞ができるコミュニティサイトです。<br>
  夜の街並みが好きな方はもちろん、引っ越し等で治安が知りたい方にも便利なサイトです。<br>
</p>

<%= link_to posts_path do %>
  <i></i> 投稿一覧へ
<% end %>