@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}

#content {
  display: inline!important;
}

body {
  font-family: "M PLUS 1p", serif;
  font-weight: 400;
  font-style: normal;
  background-attachment: fixed;
  background-image: linear-gradient(180deg, #030531 0%, #030531 1%, #082359 100%);
  color: ghostwhite;
}

ul {
  list-style-position: inside;
}

.permit-btn {
  width: 20%;
}

.icon-img {
  object-fit: cover;
}

.bg01 {
  background-attachment: fixed;
  background-size: cover;
  background-position: center
}
