<h2>全ユーザー一覧</h2>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to '退会', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      <%= image_tag user.get_profile_image %>
      <%= link_to user.name, admin_user_path(user) %> - <%= user.email %>
    </li>
  <% end %>
</ul>