<% users.each do |user| %>
  <table class="mb-3">
    <tr>
      <td><%= image_tag user.get_profile_image, class: "object-fit-cover rounded-circle" %></td>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><%= user.introduction %></td>
      <td><%= user.introduction %></td>
    </tr>
  </table>
<% end %>